{
  "extends": "genestack-stylelint-config",
  "ignoreFiles": ["**/*.ts", "**/*.tsx"],
  "rules": {
    "property-no-unknown": [true, {
      "ignoreProperties": ["composes"]
    }],
    "selector-attribute-operator-space-before": null,
    "selector-attribute-operator-space-after": null
  }
}
